* {
    box-sizing: border-box;
}

.backgroundCustomREDBG {
    background-image: url("../img/redBG.jpg");
    background-repeat: repeat;
    max-height: 100vh;
    height: 100%;
}

.navbarCustomize {
    background-color: rgb(255, 243, 12);
    border: 0.5px groove rgb(179, 183, 68);
    border-radius: 10px;
    margin-top: 2vh;
}

.navCustomText {
    font-family: 'Quantico'sans-serif;
}

.containerHero {
    background: gainsboro;
    s margin: 0px;
    padding: 0px;
    width: 100vw;
}

.timeTitle {
    font-family: 'Nosifer', cursive;
    font-size: 2rem;
    font-weight: 400px;
}

#wrapperAnimation {
    vertical-align: center;
    margin-bottom: 0px;
}

.animationCreditsNameT {
    background-color: white;
    height: 5vh;
    font-family: Carme;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    h5 p {
        font-size: 2em;
        background-color: white;
        font-size: 2em;
    }
}